# Created by venv; see https://docs.python.org/3/library/venv.html
creds/
.venv

cdk/*.swp
cdk/package-lock.json
cdk/__pycache__
cdk/.pytest_cache
cdk/.venv
cdk/*.egg-info

# CDK asset staging directory
cdk/.cdk.staging
cdk/cdk.out
cdk/cdk.context.json

__pycache__/

Lib/
Scripts/
pyvenv.cfg
